In [2]:
# Data Analysis Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

import os
import pickle
import itertools

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# util funcs to create bioguide_id - party - congress
import match_bioguide_party_utils

# Load in ProPub Data

In [6]:
fp = "data/propub_data.pickle"

In [7]:
if os.path.exists(fp):
    with open(fp,'rb') as f:
        propub_data = pickle.load(f)
else:
    key = ''
    propub_data = match_bioguide_party_utils.load_propublica_congress_api(key)
    
    with open(fp,'wb') as f:
        pickle.dump(propub_data,f)

# Load in House Exp. Data

In [8]:
# generated from R cleaning files
df_house = pd.read_csv("data/data.csv")

In [9]:
# force lower columns if not already
df_house.columns = [x.lower() for x in df_house.columns]

In [10]:
# Currently staffers fall under PERSONAL COMPENSATION
df_pc = df_house[df_house["category"] == "personnel compensation"]

# Generate Matching Between ID - Party - Congress

In [108]:
df_bioid_party_lookup,df_bioid_party = match_bioguide_party_utils.generate_bioid_party_lookup(df_pc,propub_data)

In [109]:
# cast as type int so it's orderd chronologically
df_bioid_party["congress"] = df_bioid_party["congress"].astype(int)

df_bioid_party["year_clean"] = df_bioid_party["year_clean"].astype(int)

In [110]:
df_sliced = df_bioid_party[["payee","category","purpose","office_cc","amount","party","congress","quarter_clean","year_clean"]]

In [111]:
df_unique_id = df_sliced.groupby(["payee","congress","party","purpose","office_cc","quarter_clean","year_clean"])["amount"].sum().reset_index()

# Tracking Staffers Over Time

We want to see which staffers appear more than once in the house exp. data

In [112]:
df_more_than_one = df_unique_id[df_unique_id['payee'].duplicated(keep=False)]

In [93]:
df_multi = df_more_than_one.groupby("payee").agg({"congress":lambda x: x.nunique(),"party":lambda x: x.nunique()})

Here we can look at which staffers have also served in multiple congress sessions

In [117]:
df_multi.sort_values(["congress","party"],ascending = False).head(10)

                      congress  party
payee
anfinson susan               5      2
anfinson t e                 5      2
awan abid a                  5      2
baugh r p                    5      2
blankenship april l          5      2
donches michelle m           5      2
elliott jennifer l           5      2
fratter bonnie b             5      2
fredericks autumn            5      2
henry bryant heather         5      2

Interesting enough, it seems some staffers have even jumped across parties!

# Looking at Top Repeating

We'll look more closely at the people who've served the longest and for different parties.

In [94]:
df_five = df_multi[df_multi["congress"] > 4]

In [99]:
df_five_house = df_sliced[df_sliced["payee"].isin(df_five.index)]

In [118]:
"Number of unique individiuals who have served in more than four sessions {}".format(len(df_five_house["payee"].unique()))

'Number of unique individiuals who have served in more than four sessions 22'

In [107]:
df_five_house.sort_values(["payee","quarter_clean","year_clean"])

,payee,category,purpose,office_cc,amount,party,congress,quarter_clean,year_clean
1244,anfinson susan,personnel compensation,shared employee,hon marsha blackburn,57.89,R,115,q1,2010
2293,anfinson susan,personnel compensation,shared employee,hon john campbell,12.50,R,113,q1,2010
2414,anfinson susan,personnel compensation,shared employee,hon shelley moore capito,13.33,R,113,q1,2010
3253,anfinson susan,personnel compensation,shared employee,hon mike coffman,80.00,R,115,q1,2010
5532,anfinson susan,personnel compensation,shared employee,hon j randy forbes,93.33,R,114,q1,2010
5576,anfinson susan,personnel compensation,shared employee,hon jeff fortenberry,56.73,R,115,q1,2010
5986,anfinson susan,personnel compensation,shared employee,hon jim gerlach,13.33,R,113,q1,2010
8712,anfinson susan,personnel compensation,shared employee,hon mary jo kilroy,171.11,D,111,q1,2010
8713,anfinson susan,personnel compensation,shared employee other compensation,hon mary jo kilroy,2395.56,D,111,q1,2010
10369,anfinson susan,personnel compensation,shared employee,hon betsy markey,62.60,D,111,q1,2010
10370,anfinson susan,personnel compensation,shared employee other compensation,hon betsy markey,876.40,D,111,q1,2010
13194,anfinson susan,personnel compensation,shared employee,hon joseph r pitts,1000.00,R,114,q1,2010
13577,anfinson susan,personnel compensation,shared employee,hon george p radanovich,111.11,R,111,q1,2010
14327,anfinson susan,personnel compensation,shared employee,hon peter j roskam,33.33,R,115,q1,2010
16506,anfinson susan,personnel compensation,shared employee,hon betty sutton,150.00,D,112,q1,2010
17819,anfinson susan,personnel compensation,shared employee,hon lynn a westmoreland,12.53,R,114,q1,2010
309,anfinson susan,personnel compensation,shared employee,hon steve austria,200.00,R,112,q1,2011
310,anfinson susan,personnel compensation,shared employee,hon steve austria,800.00,R,112,q1,2011
1220,anfinson susan,personnel compensation,shared employee,hon marsha blackburn,2547.37,R,115,q1,2011
1866,anfinson susan,personnel compensation,shared employee,hon paul c broun,139.98,R,113,q1,2011
1867,anfinson susan,personnel compensation,financial administrator,hon paul c broun,253.29,R,113,q1,2011
2276,anfinson susan,personnel compensation,shared employee,hon john campbell,87.50,R,113,q1,2011
2391,anfinson susan,personnel compensation,shared employee,hon shelley moore capito,186.67,R,113,q1,2011
3064,anfinson susan,personnel compensation,shared employee,hon william lacy clay,1500.00,D,115,q1,2011
3233,anfinson susan,personnel compensation,shared employee,hon mike coffman,1120.00,R,115,q1,2011
3329,anfinson susan,personnel compensation,shared employee,hon tom cole,300.00,R,115,q1,2011
3685,anfinson susan,personnel compensation,shared employee,hon eric a rick crawford,1386.67,R,115,q1,2011
4287,anfinson susan,personnel compensation,shared employee,hon jeff denham,1386.67,R,115,q1,2011
5507,anfinson susan,personnel compensation,shared employee,hon j randy forbes,4106.67,R,114,q1,2011
5552,anfinson susan,personnel compensation,shared employee,hon jeff fortenberry,2496.27,R,115,q1,2011
...,...,...,...,...,...,...,...,...,...
68615,reed mary k,personnel compensation,financial administrator,hon tom latham,5000.01,R,113,q2,2012
69360,reed mary k,personnel compensation,shared employee,hon howard p buck mckeon,6125.01,R,113,q2,2012
69607,reed mary k,personnel compensation,finance assistant,hon jeff miller,6875.01,R,114,q2,2012
71766,reed mary k,personnel compensation,part time employee,hon christopher h smith,5250.00,R,115,q2,2012
71885,reed mary k,personnel compensation,shared employee,hon steve stivers,5241.67,R,115,q2,2012
30153,reed mary k,personnel compensation,shared employee,hon blake farenthold,3333.34,R,115,q3,2011
31307,reed mary k,personnel compensation,shared employee,hon joseph j heck,5000.01,R,114,q3,2011
32434,reed mary k,personnel compensation,financial administrator,hon tom latham,1666.67,R,113,q3,2011
33211,reed mary k,personnel compensation,shared employee,hon howard p buck mckeon,6125.01,R,113,q3,2011
33470,reed mary k,personnel compensation,finance assistant,hon jeff miller,6875.01,R,114,q3,2011
35702,reed mary k,personnel compensation,part time employee,hon christopher h smith,5250.00,R,115,q3,2011
35836,reed mary k,personnel compensation,shared employee,hon steve stivers,5000.01,R,115,q3,2011
76477,reed mary k,personnel compensation,shared employee,hon joseph j heck,5000.01,R,114,q3,2012
77569,reed mary k,personnel compensation,financial administrator,hon tom latham,5000.01,R,113,q3,2012
78300,reed mary k,personnel compensation,shared employee,hon howard p buck mckeon,6125.01,R,113,q3,2012
78535,reed mary k,personnel compensation,finance assistant,hon jeff miller,6875.01,R,114,q3,2012
80676,reed mary k,personnel compensation,part time employee,hon christopher h smith,5250.00,R,115,q3,2012
80811,reed mary k,personnel compensation,shared employee,hon steve stivers,5000.01,R,115,q3,2012
40777,reed mary k,personnel compensation,shared employee,hon joseph j heck,5000.01,R,114,q4,2011
41983,reed mary k,personnel compensation,financial administrator,hon tom latham,5000.01,R,113,q4,2011
42799,reed mary k,personnel compensation,shared employee,hon howard p buck mckeon,6125.01,R,113,q4,2011
43059,reed mary k,personnel compensation,finance assistant,hon jeff miller,6875.01,R,114,q4,2011
45395,reed mary k,personnel compensation,part time employee,hon christopher h smith,5250.00,R,115,q4,2011
45516,reed mary k,personnel compensation,shared employee,hon steve stivers,5483.33,R,115,q4,2011
85629,reed mary k,personnel compensation,shared employee,hon joseph j heck,5000.01,R,114,q4,2012
86842,reed mary k,personnel compensation,financial administrator,hon tom latham,5000.01,R,113,q4,2012
87637,reed mary k,personnel compensation,shared employee,hon howard p buck mckeon,6125.01,R,113,q4,2012
87920,reed mary k,personnel compensation,finance assistant,hon jeff miller,6875.01,R,114,q4,2012
90209,reed mary k,personnel compensation,part time employee,hon christopher h smith,5250.00,R,115,q4,2012
90341,reed mary k,personnel compensation,shared employee,hon steve stivers,5000.01,R,115,q4,2012